<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/vieMovies.css">

</head>

<body>
    <div class="mdescrip">
        <h1>THE FAULT IN OUR STARS</h1>
        <h5>Cast :Shailene Woodley, Ansel Elgort<br>Genre : Drama /Comedy</h5>
        <p>Hazel Grace Lancast
            #background-color: #221e2a;er (Shailene Woodley), a 16-year-old cancer patient, meets and falls in love with
            Gus
            Waters (Ansel Elgort), a similarly afflicted teen from her cancer support group. Hazel feels that Gus really
            understands her. They both share the same acerbic wit and a love of books, especially Grace's touchstone,
            'An Imperial Affliction' by Peter Van Houten. When Gus scores an invitation to meet the reclusive author, he
            and Hazel embark on the adventure of their brief lives.</p>

        <div>
            <button class="button">Edit </button>
            <button class="button" onclick>Delete </button>
            <button class="button">Go Back </button>


        </div>
    </div>


</body>

</html>