<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/vieMovies.css">

</head>

<body>

    <div class="outer">
        <h1>THE MOVIES THAT YOU MAY LIKE</h1>

        <% movies.forEach(function(movie) { %>

        <div class="inner">
            <h2><%= movie.name %></h2>
            <p>
                <h4>Cast : <%= movie.cast %></h4>
                <h4>Genre : <%= movie.genre %></h4>
                <h5><%= movie.description %>
                    <a href="viewOne.html"><span>View more</span></a></h5>

            </p>
        </div>

        <% }) %>

    </div>

</body>

</html>